[Unit]
Description=Run sgl-ghostbuster check every minute

[Timer]
OnBootSec=5min
OnActiveSec=1min
OnUnitActiveSec=1min
Persistent=true

[Install]
WantedBy=timers.target
